.deployed-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #262626;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
}

.deployed-panel .character-card {
    width: 110px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: inherit; /* Inherit background color from the rarity */
    border-radius: 10px;
}

.character-card .placeholder {
    width: 107px;
    height: 190px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    font-size: 14px;
}
